*{
    font-family: sans-serif;
}
body{
    background-color: rgba(108, 213, 232, 0.211);
}
#parent_box{
    /* border: 1px solid black; */
    width: 60%;
    margin: auto;
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
}
#preview_box{
    /* border: 1px solid red; */
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

#main_img{
    width: 100%;
    height: 300px;  
}
#loading{
    width: 100px;
    height: 20px;
    /* border: 1px solid salmon; */
    position: absolute;
    bottom: 0;
    right: 1;
    z-index: 1;
    margin-bottom: 25px;
    margin-left: -50px;
}
#handler_box{
    /* border: 1px solid blue; */
    width: 30%;
    margin-top: 40px;
}
#color_buttons{
    /* border: 1px solid blueviolet; */
    display: flex;
    gap: 10px;
    margin-top: 30px;
}
#color_buttons>button{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: none;
}
#blue{
    background-color: blue;
}
#yellow{
    background-color: yellow;
}
#pink{
    background-color: pink;
}
#guideline{
    font-size: 14px;
    /* color: blue; */
    margin-top: -20px;
}
#note{
    font-size: 11px;
    margin-top: -8px;
}
#upload_button{
    background-color:rgb(10, 181, 215) ;
    color: white;
    border: none;
    width: 100%;
    padding: 8px;
    display: flex;
    align-items: center;
    font-weight: bold;
}
#upload_button>label{
    /* border: 1px solid black; */
    width: 100%;
    font-size: 15px;
    margin: auto;
    display: flex;
    align-items: center;
}
#file_name{
    align-self: center;
    margin: auto;
}
#upload_logo{
    width: 20px;
    height: 20px;
    /* border: 1px solid black; */
}
#icon{
    visibility: hidden;
}
.rotate {
     animation: rotation 2s infinite linear;
}
@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }